{% extends "base.html" %}
{% block title %}Inventario{% endblock %}

{% block content %}

<div class="container my-5">

<h2 class="text-center">Inventario de Productos</h2>

<form method="POST" class="d-flex mb-3">
    <input type="text" name="buscar" class="form-control me-2" placeholder="Buscar producto...">
    <button class="btn btn-primary">Buscar</button>
</form>

<div class="d-flex justify-content-between mb-3">
    <a href="{{ url_for('agregar') }}" class="btn btn-success">Añadir Producto</a>
    <a href="{{ url_for('reporte_pdf') }}" class="btn btn-danger">Generar PDF</a>
</div>

<table class="table table-bordered table-hover">
<thead class="table-dark">
<tr>
<th>ID</th>
<th>Nombre</th>
<th>Precio</th>
<th>Stock</th>
<th>Acciones</th>
</tr>
</thead>

<tbody>
{% for p in productos %}
<tr>
<td>{{ p[0] }}</td>
<td>{{ p[1] }}</td>
<td>${{ p[2] }}</td>
<td>{{ p[3] }}</td>
<td>

<a href="{{ url_for('editar_producto', id=p[0]) }}">
<img src="{{ url_for('static', filename='Multimedia/edit.png') }}" width="30">
</a>

<a href="{{ url_for('eliminar', id=p[0]) }}"
onclick="return confirm('¿Eliminar producto?')">
<img src="{{ url_for('static', filename='Multimedia/delete.png') }}" width="30">
</a>

</td>
</tr>
{% endfor %}
</tbody>

</table>

</div>

{% endblock %}