{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="text-center">Iniciar Sesión</h2>

    <form method="POST" class="col-md-4 mx-auto">
        
        <input type="text" name="usuario" class="form-control mb-3" placeholder="Usuario" required>

        <input type="password" name="password" class="form-control mb-3" placeholder="Contraseña" required>
        

        <button class="btn btn-primary w-100">Ingresar</button>

        <a href="{{ url_for('registro') }}" class="d-block text-center mt-3">
            ¿No tienes cuenta? Regístrate
        </a>

    </form>
</div>
{% endblock %}